/* bootstrap custom css */


/*footer {*/
/*    width: 100%;*/
/*    height: 250px; !* 내용물에 따라 알맞는 값 설정 *!*/
/*    bottom: 0px;*/
/*    margin-top: auto;*/
/*}*/

html{
    margin: 0;
    height: 100%;
    overflow: hidden;
}

body{
    min-height: 100%;
}

footer {
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}






